site_name: "MayPy"
site_description: "Pythonic Java optional"
site_author: "Mathieu LETRONE"
copyright: "Copyright &copy; 2024, Mathieu LETRONE"

repo_name: "MLetrone/maypy"
repo_url: "https://github.com/mLetrone/maypy"
site_dir: site

docs_dir: "pages"
theme:
  name: material
  local: en
  favicon: assets/img/favicon.ico
  logo: assets/img/transparent-logo.png
  icon:
    repo: fontawesome/brands/github
  palette:
    primary: teal
    accent: teal
  features:
    - navigation.sections
    - navigation.top
    - navigation.tabs
    - navigation.footer
    - toc.follow
    - content.code.copy
    - content.code.annotate

extra_css:
  - assets/stylesheets/extra.css

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.snippets:
      base_path: [ "..", "src" ]
      check_paths: true
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
nav:
  - Home:
      - Overview: index.md
      - Getting started:
          - Installation: installation.md
          - Usage: usage.md
      - About:
          - Changelog: changelog.md
  - API Reference:
      - Maybe Container: maybe.md
      - Functionals: functional.md
      - Exceptions: exceptions.md

plugins:
  - search
  - termynal
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          paths: [ ../src ]
          options:
            docstring_style: google
            show_category_heading: true
            show_signature_annotations: true
            show_source: false
            separate_signature: true
            docstring_section_style: table
            group_by_category: true
            show_root_full_path: false

